* {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.splash {
  background-image: url("../resources/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../resources/the-flatiron-building.png");
}

.footer nav {
  text-align: left;
  font-family: Helvetica;
  font-size: 11px;
  background-color: dimgray;
}

.footer p {
  text-align: left;
  font-family: Helvetica;
  color: white;
  font-size: 11px;
  background-color: dimgray;
}
